Source: range-asterisk
Section: comm
Priority: optional
Maintainer: Range Networks, Inc. <info@rangenetworks.com>
Homepage: http://www.rangenetworks.com/
Build-Depends: build-essential, debhelper (>= 7), pkg-config, autoconf
Standards-Version: 3.7.3

Package: range-asterisk
Section: comm
Priority: optional
Architecture: i386
Essential: no
Depends: sqlite3, libc6-i686, pkg-config, libsqliteodbc, unixodbc
Description: Range Networks - Tested Version of Asterisk

